<div class="screen-box-center">
    <div
        class="mb-10 flex items-center justify-center bg-base-bg text-base-text">
        <p class="text-3xl">Welcome on timero!</p>
    </div>
    <form
        class="flex w-96 flex-col items-center justify-between gap-3 rounded-lg bg-form-bg p-12"
        #loginForm="ngForm"
        (ngSubmit)="onSubmit()">
        <div>
            <label for="loginOrEmail">Login / Email</label>
            <input
                class="block w-full rounded-lg border border-form-border bg-form-bg p-2 focus:outline-none"
                type="text"
                id="loginOrEmail"
                name="loginOrEmail"
                required
                #loginOrEmailField="ngModel"
                [(ngModel)]="loginData.loginOrEmail" />
            <div
                *ngIf="
                    loginOrEmailField.invalid &&
                    (loginOrEmailField.touched || loginOrEmailField.dirty)
                "
                class="text-sm text-error">
                <div *ngIf="loginOrEmailField.errors?.['required']">
                    Login or email is required
                </div>
            </div>
        </div>
        <div>
            <label for="password">Password</label>
            <input
                class="block w-full rounded-lg border border-form-border bg-form-bg p-2 focus:outline-none"
                type="password"
                id="password"
                name="password"
                required
                #passwordField="ngModel"
                [(ngModel)]="loginData.password" />
            <div
                *ngIf="
                    passwordField.invalid &&
                    (passwordField.touched || passwordField.dirty)
                "
                class="text-sm text-error">
                <div *ngIf="passwordField.errors?.['required']">
                    Password is required
                </div>
            </div>
        </div>

        <div
            *ngIf="notCorrectLoginOrEmailOrPasswords"
            class="text-sm text-error">
            Login, email or password are incorrect.
        </div>

        <button
            class="mt-6 rounded-md bg-base-button px-4 py-2 text-xl duration-200 hover:bg-base-button-hov"
            type="submit">
            Login
        </button>

        <a (click)="onGoToRegister()" class="dash-animation text-xl">
            Or create account
        </a>
    </form>
</div>
