/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .dash-animation {
        @apply cursor-pointer after:block after:h-0.5 after:w-0 after:bg-base-line after:duration-200 hover:after:w-full;
    }
    .screen-box {
        @apply flex h-screen w-screen flex-col items-center justify-center bg-base-bg text-base-text;
    }
    .test {
        @apply border border-black;
    }
}

:root {
    .notification-error {
        --mdc-snackbar-container-color: #ff3333; /* Background color */
        --mdc-snackbar-supporting-text-color: #2f2d2d; /* Text color */
    }

    .notification-success {
        --mdc-snackbar-container-color: #6cc070;
        --mdc-snackbar-supporting-text-color: #ffffff;
    }
}

mat-error {
    font-size: 0.875rem /* 14px */ !important;
    line-height: 1.25rem /* 20px */ !important;
    color: #4c0519 !important;
}
