<div class="screen-box-between">
    <div class="mt-5 flex w-192 items-start self-center">
        <div class="flex w-1/5 flex-col gap-5">
            <p id="currentStage" class="self-center text-2xl">Focus</p>
            <div class="flex flex-col items-center justify-center gap-12">
                <div class="flex items-center justify-center gap-12">
                    <button
                        class="rounded-md bg-base-button px-4 py-2 text-xl duration-200 hover:bg-base-button-hov">
                        Pause
                    </button>

                    <button
                        class="rounded-md bg-base-button px-4 py-2 text-xl duration-200 hover:bg-base-button-hov">
                        Reset
                    </button>
                </div>
            </div>
        </div>

        <div class="flex w-3/5 flex-col items-center gap-8">
            <p class="text-2xl">Timer</p>

            <div class="flex justify-center gap-1 text-6xl">
                <p>{{ timerSettings.timerSetHours }}</p>
                <p>:</p>
                <p>{{ timerSettings.timerSetMinutes }}</p>
                <p>:</p>
                <p>{{ timerSettings.timerSetSeconds }}</p>
            </div>
        </div>

        <div class="flex w-1/5 flex-col items-start gap-8 pl-4 pt-4">
            <label class="ml-2">Select a topic</label>
            <mat-form-field>
                <mat-label>Topic</mat-label>
                <mat-select
                    name="timerSelectedTopicInput"
                    required
                    #timerSelectedTopicInput="ngModel"
                    [(ngModel)]="timerSettings.timerSelectedTopic">
                    @for (topic of mainTopicsBasicData; track topic) {
                        <mat-option [value]="topic.name">{{
                            topic.name
                        }}</mat-option>
                    }
                </mat-select>

                <mat-error *ngIf="timerSelectedTopicInput.hasError('required')">
                    {{ AtLeastOneMessage }}
                </mat-error>
            </mat-form-field>

            <mat-form-field floatLabel="always" class="w-40">
                <mat-label>Short break</mat-label>
                <input
                    matInput
                    type="number"
                    name="timerShortBreakInput"
                    required
                    [min]="1"
                    [max]="59"
                    #timerShortBreakInput="ngModel"
                    [(ngModel)]="timerSettings.timerShortBreak" />
                <span matTextSuffix class="text-black">minutes</span>

                <mat-error
                    *ngIf="
                        timerShortBreakInput.hasError('required') ||
                        timerShortBreakInput.hasError('min')
                    ">
                    {{ AtLeastOneMessage }}
                </mat-error>
                <mat-error *ngIf="timerShortBreakInput.hasError('max')">
                    {{ LessThanOrEqual59Message }}
                </mat-error>
            </mat-form-field>

            <mat-form-field floatLabel="always" class="w-40">
                <mat-label>Short break</mat-label>
                <input
                    matInput
                    type="number"
                    name="timerLongBreakInput"
                    required
                    [min]="1"
                    [max]="59"
                    #timerLongBreakInput="ngModel"
                    [(ngModel)]="timerSettings.timerLongBreak" />
                <span matTextSuffix class="text-black">minutes</span>

                <mat-error
                    *ngIf="
                        timerLongBreakInput.hasError('required') ||
                        timerLongBreakInput.hasError('min')
                    ">
                    {{ AtLeastOneMessage }}
                </mat-error>
                <mat-error *ngIf="timerLongBreakInput.hasError('max')">
                    {{ LessThanOrEqual59Message }}
                </mat-error>
            </mat-form-field>

            <div class="flex items-center gap-2">
                <mat-slide-toggle
                    class="custom-slide-toggle"
                    labelPosition="after"
                    name="timerAutoBreakInput"
                    #timerAutoBreakInput="ngModel"
                    [(ngModel)]="timerSettings.timerAutoBreak">
                </mat-slide-toggle>
                <div class="text-xl">Enable auto break</div>
            </div>

            <mat-form-field
                *ngIf="timerSettings.timerAutoBreak"
                floatLabel="always"
                class="w-40">
                <mat-label>Interval</mat-label>
                <input
                    matInput
                    type="number"
                    name="timerIntervalInput"
                    required
                    [min]="1"
                    [max]="99"
                    #timerIntervalInput="ngModel"
                    [(ngModel)]="timerSettings.timerInterval" />

                <mat-error
                    *ngIf="
                        timerIntervalInput.hasError('required') ||
                        timerIntervalInput.hasError('min')
                    ">
                    {{ AtLeastOneMessage }}
                </mat-error>
                <mat-error *ngIf="timerIntervalInput.hasError('max')">
                    {{ LessThanOrEqual99Message }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <bottom-menu [commandContext]="Pages.TIMER_FOCUS"></bottom-menu>
</div>
