<div
    class="flex h-screen w-screen flex-col justify-between bg-base-bg text-base-text">
    <div class="mt-5 flex w-192 items-start self-center">
        <div class="flex w-1/3 flex-col gap-5">
            <p id="currentStage" class="self-center text-2xl">Home</p>
            <div class="flex items-center justify-center gap-12">
                <button
                    class="rounded-md bg-base-button px-4 py-2 text-xl duration-200 hover:bg-base-button-hov">
                    Start
                </button>

                <button
                    class="rounded-md bg-base-button px-4 py-2 text-xl duration-200 hover:bg-base-button-hov">
                    Save
                </button>
            </div>
        </div>

        <div
            class="flex w-1/3 flex-col items-start gap-3 border border-black pl-4">
            <div>
                <input
                    type="number"
                    id="timerSetHours"
                    class="mr-1.5 w-16 rounded-lg border p-2 text-black focus:outline-none"
                    [value]="principalBasicData?.timerSetHours" />
                <label for="timerSetHours" class="text-3xl">h</label>
            </div>

            <div>
                <input
                    type="number"
                    id="timerSetMinutes"
                    class="mr-1.5 w-16 rounded-lg border p-2 text-black focus:outline-none"
                    [value]="principalBasicData?.timerSetMinutes" />
                <label for="timerSetMinutes" class="text-3xl">m</label>
            </div>

            <div>
                <input
                    type="number"
                    id="timerSetSeconds"
                    class="mr-1.5 w-16 rounded-lg border p-2 text-black focus:outline-none"
                    [value]="principalBasicData?.timerSetSeconds" />
                <label for="timerSetSeconds" class="text-3xl">s</label>
            </div>
        </div>

        <div
            class="flex w-1/3 flex-col items-start gap-3 border border-black pl-4 pt-4">
            <label class="ml-2">Select a topic</label>
            <mat-form-field>
                <mat-label>Topic</mat-label>
                <mat-select>
                    @for (topic of mainTopicsBasicData; track topic) {
                        <mat-option [value]="topic.name">{{
                            topic.name
                        }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field floatLabel="always" class="w-36">
                <mat-label>Short break</mat-label>
                <input
                    matInput
                    type="number"
                    id="shortBreakInput"
                    [value]="principalBasicData?.timerShortBreak" />
                <span matTextSuffix class="text-black">minutes</span>
            </mat-form-field>

            <mat-form-field floatLabel="always" class="w-36">
                <mat-label>Short break</mat-label>
                <input
                    matInput
                    type="number"
                    id="longBreakInput"
                    [value]="principalBasicData?.timerLongBreak" />
                <span matTextSuffix class="text-black">minutes</span>
            </mat-form-field>
        </div>
    </div>

    <div class="border border-black">
        <div id="actions" class="mb-4 flex gap-2 p-2">
            <button
                class="mt-6 rounded-md bg-base-button px-4 py-2 text-xl duration-200 hover:bg-base-button-hov">
                Settings
            </button>
            <button
                class="mt-6 rounded-md bg-base-button px-4 py-2 text-xl duration-200 hover:bg-base-button-hov"
                (click)="submitLogout()">
                Logout
            </button>
        </div>
        <app-command-line [commandContext]="'st'"></app-command-line>
    </div>
</div>
