.custom-slide-toggle .mat-slide-toggle-content {
    color: white !important;
}

.custom-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: white !important;
}

.custom-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: blue !important;
}

.custom-slide-toggle:focus {
    outline: none !important;
}
