<div
    class="flex h-screen w-screen flex-col justify-between bg-base-bg text-base-text">
    <form class="mt-5 flex w-192 items-start self-center" #timerForm="ngForm">
        <div class="flex w-1/3 flex-col gap-5">
            <p id="currentStage" class="self-center text-2xl">Home</p>
            <div class="flex items-center justify-center gap-12">
                <button
                    (click)="onSubmitSaveOrStart('save')"
                    class="rounded-md bg-base-button px-4 py-2 text-xl duration-200 hover:bg-base-button-hov">
                    Start
                </button>

                <button
                    (click)="onSubmitSaveOrStart('start')"
                    class="rounded-md bg-base-button px-4 py-2 text-xl duration-200 hover:bg-base-button-hov">
                    Save
                </button>
            </div>
        </div>

        <div
            class="flex w-1/3 flex-col items-center gap-3 border-r-2 border-black">
            <p class="text-2xl">Timer</p>
            <mat-form-field class="w-36">
                <input
                    matInput
                    type="number"
                    name="timerSetHours"
                    #timerSetHours="ngModel"
                    [(ngModel)]="timerBasicSettings.timerSetHours" />
                <span matTextSuffix class="text-black">hours</span>
            </mat-form-field>

            <mat-form-field class="w-36">
                <input
                    matInput
                    type="number"
                    name="timerSetMinutes"
                    #timerSetMinutes="ngModel"
                    [(ngModel)]="timerBasicSettings.timerSetMinutes" />
                <span matTextSuffix class="text-black">minutes</span>
            </mat-form-field>

            <mat-form-field class="w-36">
                <input
                    matInput
                    type="number"
                    name="timerSetSeconds"
                    #timerSetSeconds="ngModel"
                    [(ngModel)]="timerBasicSettings.timerSetSeconds" />
                <span matTextSuffix class="text-black">seconds</span>
            </mat-form-field>
        </div>

        <div class="flex w-1/3 flex-col items-start gap-3 pl-4 pt-4">
            <label class="ml-2">Select a topic</label>
            <mat-form-field>
                <mat-label>Topic</mat-label>
                <mat-select
                    name="timerSelectedTopic"
                    #timerSelectedTopic="ngModel"
                    [(ngModel)]="timerBasicSettings.timerSelectedTopic">
                    @for (topic of mainTopicsBasicData; track topic) {
                        <mat-option [value]="topic.name">{{
                            topic.name
                        }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field floatLabel="always" class="w-36">
                <mat-label>Short break</mat-label>
                <input
                    matInput
                    type="number"
                    name="timerShortBreak"
                    #timerShortBreak="ngModel"
                    [(ngModel)]="timerBasicSettings.timerShortBreak" />
                <span matTextSuffix class="text-black">minutes</span>
            </mat-form-field>

            <mat-form-field floatLabel="always" class="w-36">
                <mat-label>Short break</mat-label>
                <input
                    matInput
                    type="number"
                    name="timerLongBreak"
                    #timerLongBreak="ngModel"
                    [(ngModel)]="timerBasicSettings.timerLongBreak" />
                <span matTextSuffix class="text-black">minutes</span>
            </mat-form-field>

            <mat-slide-toggle
                class="text-white"
                name="timerAutoBreak"
                #timerAutoBreak="ngModel"
                [(ngModel)]="timerBasicSettings.timerAutoBreak">
                Enable auto break
            </mat-slide-toggle>
        </div>
    </form>

    <div>
        <div id="actions" class="mb-4 flex gap-2 p-2">
            <button
                class="mt-6 rounded-md bg-base-button px-4 py-2 text-xl duration-200 hover:bg-base-button-hov">
                Settings
            </button>
            <button
                class="mt-6 rounded-md bg-base-button px-4 py-2 text-xl duration-200 hover:bg-base-button-hov"
                (click)="submitLogout()">
                Logout
            </button>
        </div>
        <app-command-line [commandContext]="'st'"></app-command-line>
    </div>
</div>
