<div class="screen-box-between">
    <form class="mt-5 flex w-192 items-start self-center" #timerForm="ngForm">
        <div class="flex w-1/3 flex-col gap-4">
            <p id="currentStage" class="self-center text-2xl">Home</p>

            <div class="flex flex-col items-center justify-center gap-12">
                <div class="flex items-center justify-center gap-12">
                    <button
                        class="rounded-md bg-base-button px-4 py-2 text-xl duration-200 hover:bg-base-button-hov"
                        (click)="onSubmitStart()">
                        Start
                    </button>

                    <button
                        class="rounded-md bg-base-button px-4 py-2 text-xl duration-200 hover:bg-base-button-hov"
                        (click)="onSubmitSave()">
                        Save
                    </button>
                </div>

                <button
                    class="dash-animation text-xl"
                    (click)="onChangeToStopwatch()">
                    Change to stopwatch
                </button>
            </div>
        </div>

        <div
            class="flex w-1/3 flex-col items-center gap-6 border-r-2 border-black">
            <p class="text-2xl">Timer</p>

            <mat-form-field class="w-40">
                <input
                    matInput
                    type="number"
                    name="timerSetHoursInput"
                    required
                    [min]="0"
                    [max]="99"
                    #timerSetHoursInput="ngModel"
                    [(ngModel)]="timerSettings.timerSetHours" />
                <span matTextSuffix class="text-black">hours</span>

                <mat-error
                    *ngIf="
                        timerSetHoursInput.hasError('required') ||
                        timerSetHoursInput.hasError('min')
                    ">
                    {{ AtLeastZeroMessage }}
                </mat-error>
                <mat-error *ngIf="timerSetHoursInput.hasError('max')">
                    {{ LessThanOrEqual99Message }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-40">
                <input
                    matInput
                    type="number"
                    name="timerSetMinutesInput"
                    required
                    [min]="0"
                    [max]="59"
                    #timerSetMinutesInput="ngModel"
                    [(ngModel)]="timerSettings.timerSetMinutes" />
                <span matTextSuffix class="text-black">minutes</span>

                <mat-error
                    *ngIf="
                        timerSetMinutesInput.hasError('required') ||
                        timerSetMinutesInput.hasError('min')
                    ">
                    {{ AtLeastZeroMessage }}
                </mat-error>
                <mat-error *ngIf="timerSetMinutesInput.hasError('max')">
                    {{ LessThanOrEqual59Message }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-40">
                <input
                    matInput
                    type="number"
                    name="timerSetSecondsInput"
                    required
                    [min]="0"
                    [max]="59"
                    #timerSetSecondsInput="ngModel"
                    [(ngModel)]="timerSettings.timerSetSeconds" />
                <span matTextSuffix class="text-black">seconds</span>

                <mat-error
                    *ngIf="
                        timerSetSecondsInput.hasError('required') ||
                        timerSetSecondsInput.hasError('min')
                    ">
                    {{ AtLeastZeroMessage }}
                </mat-error>
                <mat-error *ngIf="timerSetSecondsInput.hasError('max')">
                    {{ LessThanOrEqual59Message }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="flex w-1/3 flex-col items-start gap-6 pl-4 pt-4">
            <label class="ml-2">Select a topic</label>
            <mat-form-field>
                <mat-label>Topic</mat-label>
                <mat-select
                    name="timerSelectedTopicInput"
                    required
                    #timerSelectedTopicInput="ngModel"
                    [(ngModel)]="timerSettings.timerSelectedTopic">
                    @for (topic of mainTopicsBasicData; track topic) {
                        <mat-option [value]="topic.name"
                            >{{ topic.name }}
                        </mat-option>
                    }
                </mat-select>

                <mat-error *ngIf="timerSelectedTopicInput.hasError('required')">
                    {{ AtLeastOneMessage }}
                </mat-error>
            </mat-form-field>

            <mat-form-field floatLabel="always" class="w-40">
                <mat-label>Short break</mat-label>
                <input
                    matInput
                    type="number"
                    name="timerShortBreakInput"
                    required
                    [min]="1"
                    [max]="59"
                    #timerShortBreakInput="ngModel"
                    [(ngModel)]="timerSettings.timerShortBreak" />
                <span matTextSuffix class="text-black">minutes</span>

                <mat-error
                    *ngIf="
                        timerShortBreakInput.hasError('required') ||
                        timerShortBreakInput.hasError('min')
                    ">
                    {{ AtLeastOneMessage }}
                </mat-error>
                <mat-error *ngIf="timerShortBreakInput.hasError('max')">
                    {{ LessThanOrEqual59Message }}
                </mat-error>
            </mat-form-field>

            <mat-form-field floatLabel="always" class="w-40">
                <mat-label>Long break</mat-label>
                <input
                    matInput
                    type="number"
                    name="timerLongBreakInput"
                    required
                    [min]="1"
                    [max]="59"
                    #timerLongBreakInput="ngModel"
                    [(ngModel)]="timerSettings.timerLongBreak" />
                <span matTextSuffix class="text-black">minutes</span>

                <mat-error
                    *ngIf="
                        timerLongBreakInput.hasError('required') ||
                        timerLongBreakInput.hasError('min')
                    ">
                    {{ AtLeastOneMessage }}
                </mat-error>
                <mat-error *ngIf="timerLongBreakInput.hasError('max')">
                    {{ LessThanOrEqual59Message }}
                </mat-error>
            </mat-form-field>

            <div class="flex items-center gap-2">
                <mat-slide-toggle
                    class="custom-slide-toggle"
                    labelPosition="after"
                    name="timerAutoBreakInput"
                    [(ngModel)]="timerSettings.timerAutoBreak">
                </mat-slide-toggle>
                <div class="text-xl">Enable auto break</div>
            </div>

            <mat-form-field
                *ngIf="timerSettings.timerAutoBreak"
                floatLabel="always"
                class="w-40">
                <mat-label>Interval</mat-label>
                <input
                    matInput
                    type="number"
                    name="timerIntervalInput"
                    required
                    [min]="1"
                    [max]="99"
                    #timerIntervalInput="ngModel"
                    [(ngModel)]="timerSettings.timerInterval" />

                <mat-error
                    *ngIf="
                        timerIntervalInput.hasError('required') ||
                        timerIntervalInput.hasError('min')
                    ">
                    {{ AtLeastOneMessage }}
                </mat-error>
                <mat-error *ngIf="timerIntervalInput.hasError('max')">
                    {{ LessThanOrEqual99Message }}
                </mat-error>
            </mat-form-field>
        </div>
    </form>
    <bottom-menu [commandContext]="Pages.TIMER_HOME"></bottom-menu>
</div>
